{
	"presets": [
		[
			"@babel/preset-env",
			{
				"corejs": "3",
				"useBuiltIns": "entry",
				"modules": false
			}
		],
		"@babel/preset-react",
		[
			"minify",
			{
				"builtIns": false,
				"mangle": false
			}
		]
	],
	"plugins": [],
	"ignore": ["src/lib/", "scripts/", "dist/", "*.json"]
}
