{
	"root": true,
	"plugins": ["es6", "compat", "unicorn", "@typescript-eslint"],
	"extends": ["eslint:recommended", "plugin:compat/recommended", "plugin:@typescript-eslint/recommended", "prettier"],
	"env": {
		"browser": true,
		"jquery": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": "latest",
		"parser": "@typescript-eslint/parser"
	},
	"ignorePatterns": ["scripts/", "src/lib/", "dist/", "*.json"],
	"reportUnusedDisableDirectives": true,
	"globals": {
		"$": "readonly",
		"jQuery": "readonly",
		"mw": "readonly",
		"mediaWiki": "readonly",
		"Map": "readonly",
		"Twinkle": "readonly"
	},
	"rules": {
		"@typescript-eslint/no-empty-function": [
			"error",
			{
				"allow": ["arrowFunctions"]
			}
		],
		"@typescript-eslint/no-this-alias": [
			"error",
			{
				"allowDestructuring": false,
				"allowedNames": ["self"]
			}
		],
		"@typescript-eslint/no-unused-vars": ["off"],
		"quotes": [
			2,
			"single",
			{
				"avoidEscape": true,
				"allowTemplateLiterals": true
			}
		],
		"quote-props": [
			2,
			"as-needed",
			{
				"keywords": true,
				"unnecessary": true,
				"numbers": false
			}
		]
	}
}
