{
	"root": true,
	"plugins": ["es6", "compat", "unicorn", "@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:compat/recommended",
		"plugin:unicorn/recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"env": {
		"browser": true,
		"jquery": true,
		"es6": true,
		"es2016": true,
		"es2017": true,
		"es2018": true,
		"es2019": true,
		"es2020": true,
		"es2021": true,
		"es2022": true
	},
	"parserOptions": {
		"ecmaVersion": "latest",
		"parser": "@typescript-eslint/parser"
	},
	"ignorePatterns": ["scripts/", "src/lib/", "dist/", "*.json"],
	"reportUnusedDisableDirectives": true,
	"globals": {
		"$": "readonly",
		"jQuery": "readonly",
		"mw": "readonly",
		"mediaWiki": "readonly",
		"Map": "readonly",
		"Twinkle": "readonly"
	},
	"rules": {
		"@typescript-eslint/ban-ts-comment": "warn",
		"@typescript-eslint/no-empty-function": [
			"error",
			{
				"allow": ["arrowFunctions"]
			}
		],
		"@typescript-eslint/no-explicit-any": "warn",
		"@typescript-eslint/no-this-alias": [
			"error",
			{
				"allowDestructuring": false,
				"allowedNames": ["self"]
			}
		],
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{
				"varsIgnorePattern": "^_"
			}
		],
		"unicorn/consistent-function-scoping": "off",
		"unicorn/filename-case": "off",
		"unicorn/no-array-callback-reference": "warn",
		"unicorn/no-array-for-each": "warn",
		"unicorn/no-array-reduce": "warn",
		"unicorn/no-document-cookie": "warn",
		"unicorn/no-null": "off",
		"unicorn/no-this-assignment": "off",
		"unicorn/prefer-dom-node-append": "warn",
		"unicorn/prefer-module": "off",
		"unicorn/prefer-top-level-await": "off",
		"unicorn/prevent-abbreviations": "off",
		"unicorn/switch-case-braces": ["error", "avoid"],
		"quotes": [
			2,
			"single",
			{
				"avoidEscape": true,
				"allowTemplateLiterals": true
			}
		],
		"quote-props": [
			2,
			"as-needed",
			{
				"keywords": true,
				"unnecessary": true,
				"numbers": false
			}
		]
	}
}
