{
	"root": true,
	"plugins": ["es6", "compat"],
	"extends": ["eslint:recommended", "plugin:compat/recommended"],
	"env": {
		"browser": true,
		"jquery": true,
		"es6": true,
		"es2020": true,
		"es2021": true
	},
	"parserOptions": {
		"ecmaVersion": "latest"
	},
	"ignorePatterns": ["src/lib/", "scripts/", "dist/", "*.json"],
	"rules": {
		"camelcase": "off",
		"max-len": "off",
		"new-cap": "off",
		"no-alert": "off",
		"no-new-func": "error",
		"no-new-object": "error",
		"no-new-wrappers": "error",
		"no-var": "error",
		"prefer-const": "error",
		"no-extra-parens": "error",
		"no-misleading-character-class": "error",
		"no-template-curly-in-string": "error",
		"require-atomic-updates": "error",
		"curly": "error",
		"indent": [
			"warn",
			"tab",
			{
				"outerIIFEBody": 0,
				"SwitchCase": 1
			}
		],
		"linebreak-style": [0, "windows"],
		"semi": ["error", "always"],
		"no-console": [0],
		"no-unused-vars": [
			1,
			{
				"varsIgnorePattern": "^_[a-zA-Z0-9]+"
			}
		],
		"no-redeclare": [1],
		"no-unreachable": [1],
		"no-inner-declarations": [0],
		"eqeqeq": "error",
		"dot-notation": "error",
		"no-else-return": "error",
		"no-extra-bind": "error",
		"no-labels": "error",
		"no-floating-decimal": "error",
		"no-lone-blocks": "error",
		"no-loop-func": "error",
		"no-magic-numbers": "off",
		"no-multi-spaces": "error",
		"no-param-reassign": "off",
		"no-underscore-dangle": "off",
		"strict": "off",
		"quotes": [
			1,
			"double",
			{
				"avoidEscape": true
			}
		],
		"quote-props": [
			1,
			"as-needed",
			{
				"keywords": true,
				"unnecessary": true,
				"numbers": false
			}
		],
		"no-empty": [
			"error",
			{
				"allowEmptyCatch": true
			}
		],
		"arrow-spacing": [
			"error",
			{
				"before": true,
				"after": true
			}
		],
		"prefer-arrow-callback": "error",
		"prefer-spread": "off",
		"prefer-template": "error",
		"prefer-rest-params": "off",
		"prefer-exponentiation-operator": "error",
		"require-await": "error",
		"arrow-parens": "error",
		"no-use-before-define": "off"
	},
	"reportUnusedDisableDirectives": true,
	"globals": {
		"$": "readonly",
		"jQuery": "readonly",
		"mw": "readonly",
		"mediaWiki": "readonly",
		"Map": "readonly",
		"Twinkle": "readonly"
	}
}
