{
	"extends": [ "stylelint-config-standard", "stylelint-config-idiomatic-order" ],
	"plugins": [ "stylelint-no-unsupported-browser-features" ],
	"rules": {
		"selector-id-pattern": null,
		"selector-class-pattern": null,
		"selector-pseudo-class-no-unknown": true,
		"no-descending-specificity": null,
		"number-max-precision": null,
		"selector-no-vendor-prefix": null,
		"value-no-vendor-prefix": null,
		"at-rule-no-vendor-prefix": null,
		"media-feature-name-no-vendor-prefix": null,
		"property-no-vendor-prefix": null,
		"selector-attribute-quotes": null,
		"function-no-unknown": true,
		"comment-empty-line-before": null,
		"selector-type-no-unknown": true,
		"no-duplicate-selectors": null,
		"plugin/no-unsupported-browser-features": [
			true, {
				"browsers": [
					"> 0.5%",
					"Last 2 versions",
					"Firefox ESR",
					"not dead",
					"not ie <= 11",
					"not op_mini all"
				],
				"ignore": [
					"rem"
				],
				"ignorePartialSupport": true
		  	}
		]
	}
}
